<h3>Sign In</h3>
<form action='/signin' method='POST'>
  <input type='text' placeholder='Username' name='username'>
  <input type='text' placeholder='password' name='password'>
  <input type='submit' value='Submit'>
</form>
