<div class="16 columns">
  <form action='/posts' method='/signin'>
    <input type='text' placeholder='Username' name='username'>
    <input type='text' placeholder='password' name='password'>
    <input type='submit' value='Submit'>
  </form>
</div>